extends base
block title
    title= post.title + " - " + site.title
block content
    .detail
        .post
            .content
                h1.title About Me
                .post_body
                    p #二次元 #ACG
                    p #插画 #超轻粘土 #Bass 挖坑中
                    p #龙基谷谷民
                    p #不务正业的前端
                    p lofter
                        a(href='http://is9is9.lofter.com/') http://is9is9.lofter.com
                    p 围脖
                        a(href='http://weibo.com/sollrei') http://weibo.com/sollrei

        include include/comments.jade